.accordion {
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px 2px #ebecef;
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #ebecef;
    }
    &.active {
      .accordion__btn {
        color: #2563eb;
      }
      .accordion__panel {
        height: auto;
        display: block;
      }
    }
  }
  &__btn {
    border: none;
    background-color: transparent;
    border-width: 1px;
    padding: 16px 20px;
    font-weight: 600;
  }
  &__panel {
    height: 0;
    display: none;
    overflow: hidden;
    padding: 0 20px 16px 20px;
  }
}
