#chartPie {
    width: 100%;
    height: 500px;
    @media (max-width: 1024px) {
        height: 400px;
    }
    @media (max-width: 768px) {
        height: 300px;
    }
}

.form {
    &__group {
        margin-bottom: 1.3rem;
        margin-right: 1rem;
        width: calc(50% - 1.2rem);
        display: inline-block;
        label {
            font-weight: 500;
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            color: rgb(17 24 39/1);
            display: block;
        }
    }
    &__control {
        color: rgb(17 24 39/1);
        font-size: 1.1rem;
        padding: 0.625rem;
        background-color: rgb(249 250 251/1);
        border-color: rgb(209 213 219/1);
        border-radius: 0.5rem;
        width: 100%;
        display: block;
        border: 1px solid #e5e7eb;
        box-sizing: border-box;
    }
    @media (max-width: 768px){
        &__group {
            margin-right: 0;
            width: 100%;
        }
    }
}

.button {
    color: rgb(255 255 255/1);
    font-weight: 500;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgb(26 86 219/1);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    &--gradient {
        &Blue {
            background-image: linear-gradient(to right, #3f83f8, #1c64f2, #1a56db);
            &:hover {
                background-image: linear-gradient(to bottom right, #3f83f8, #1a56db);
            }
            &:focus {
                box-shadow: 0 0 0 0px #fff, 0 0 0 calc(4px + 0px) rgb(164 202 254/1), 0 0 #0000;
            }
        }

        &Red {
            background-image: linear-gradient(to right, #f98080, #f05252, #e02424);
            &:hover {
                background-image: linear-gradient(to bottom right, #f98080, #f05252, #e02424);
            }
            &:focus {
                box-shadow: 0 0 0 0px #fff, 0 0 0 calc(4px + 0px) rgb(248 180 180/1), 0 0 #0000;
            }
        }

        &Green {
            background-image: linear-gradient(to right, #31c48d, #0e9f6e, #057a55);
            &:hover {
                background-image: linear-gradient(to bottom right, #31c48d, #0e9f6e, #057a55);
            }
            &:focus {
                box-shadow: 0 0 0 0px #fff, 0 0 0 calc(4px + 0px) rgb(132 225 188/1), 0 0 #0000;
            }
        }
    }
    &--icon{
        padding: 2px;
    }
}

.list {
    border-radius: 0.5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    margin-top: 30px;
    &__title {
        display: flex;
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        background-color: rgb(249 250 251/1);
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        div {
            flex: 1;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        &:not(:last-child) {
            border-bottom: 1px solid #e5e7eb;
        }
        &:hover {
            background-color: rgb(249 250 251/1);
        }
    }

    &__control {
        flex: 1;
        font-size: 1.1rem;
        input {
            border: none;
            background-color: transparent;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    @media (max-width: 768px){
        &__control {
            input {
                width: 100%;
            }
        }
    }
}