.tab {
  &--horizontal {
    .tab {
      &__link {
        flex-direction: row;
        border-bottom: 1px solid #d1d5db;
        padding-bottom: 10px;
      }
      &__item {
        &.active {
          &::before {
            content: "";
            position: absolute;
            bottom: -11px;
            width: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            border-bottom: 2px solid #6366f1;
          }
        }
      }
    }
  }
  &--vertical {
    display: flex;
    .tab {
      &__link {
        flex-direction: column;
        border-right: 1px solid #d1d5db;
        gap: 15px;
      }
      &__item {
        padding: 5px 10px;
        &.active {
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            right: 0;
            border-right: 2px solid #6366f1;
          }
        }
      }
      &__content {
        margin-left: 20px;
        h3 {
          margin: 0;
        }
      }
    }
  }
  &__link {
    display: flex;
    gap: 30px;
  }
  &__item {
    border: none;
    background-color: transparent;
    position: relative;
    font-weight: 600;
    color: #6f7684;
    padding: 0 10px;
    &.active {
      color: #6366f1;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: -11px;
      //   width: 100%;
      //   left: 50%;
      //   transform: translate(-50%, 0);
      //   border-bottom: 2px solid #6366f1;
      // }
    }
  }
  &__content {
    display: none;
    &.show {
      display: block;
    }
  }
}
